/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
app/Http/.DS_Store

/public/docs
*.retry

.DS_Store
.vscode

united-aura-232913-4c7c12c20643.json
composer.lock
